#starWar-img {
  width: 100px;
  height: 50px;
}

.navbar {
  padding: 20px 60px;
}

.detail-container {
  color: rgb(221, 235, 16);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#detail-line {
  color: rgb(247, 241, 241);
  height: 4px;
}

#detail-card {
  border: none;
}

#description {
  line-height: 1cm;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.planets-card {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

.trash-icon {
  float: right;
  margin-right: 8px;
  color: red;
}

#app,
#home {
  background-image: url("https://images.unsplash.com/photo-1518066000714-58c45f1a2c0a?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.card-body {
  background-image: url("https://images.unsplash.com/photo-1518066000714-58c45f1a2c0a?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.card-title,
.card-text {
  color: rgb(247, 241, 241);
}

.bg-view {
  display: grid;
  place-content: center;
  background-color: black;
}
